.container {
  padding: 0 150px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.newPost {
    display: flex;
    align-items: center;
}

.categoriesList {
  margin: 30px 0px 0px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.category {
  padding: 20px 50px;
  border-radius: 20px;
  border:1px solid black;
}

.selectedCategory {
  padding: 20px 50px;
  background-color: LawnGreen;
  border-radius: 20px;
  border:1px solid black;
}

.board {
  padding: 20px 0px;
}

.postSummaryDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postSummaryValues {
  display: flex;
  align-items: center;
}

.postSummaryVoteScore {
  padding-right: 50px;
}
