.container {
  padding: 0 150px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.newPostAction{
  display: flex;
  color: black;
  align-items: center;
}

.categoriesList {
  margin: 30px 0px 0px 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.category {
  padding: 20px 50px;
  border-radius: 20px;
  border:1px solid black;
  cursor:default;
}

.selectedCategory {
  padding: 20px 50px;
  background-color: LawnGreen;
  border-radius: 20px;
  border:1px solid black;
  cursor:default;
}

.board {
  padding: 20px 0px;
}

.postSummaryTitle {
  display: flex;
  align-items: center;
}

.postSummaryDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.postSummaryValues {
  display: flex;
  align-items: center;
}

.postSummaryVoteScore {
  padding-right: 50px;
}

.headerTable {
  display: flex;
  justify-content: space-between;
}

.sortOptions {
  display: flex;
  justify-content: space-around;
  align-items:  center;
}

.voteScore {
  margin-left: 20px;
}

.timestamp {
  margin-left: 20px;
}

.postForm {
  padding-top: 50px;
}

.postForm input {
  width: 100%;
  padding: 5px 0;
  margin-bottom: 10px;
  padding-right:0px;
  font-size: inherit;
  background: transparent;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: 0;
}

.postForm label {
  display: inherit;
  width: 100%;
  padding: 1px 0;
  margin-bottom: 10px;
  padding-right:0px;
  font-size: inherit;
  background: transparent;
}

.postForm textarea {
  width: 100%;
  padding: 5px 5px;
  margin-bottom: 10px;
  padding-right:0px;
  font-size: inherit;
  background: transparent;
  border: 1px solid #ccc;
  resize: none;
  height: 200px;
}

.navPost {
  display: flex;
  justify-content: space-between;
  align-items:  center;
}

.closePostAction {
  display: flex;
  color: black;
  align-items: center;
}

.categorySelect {
  width: 100%;
  margin: 10px 0;
  font-size: inherit;
}

.btnAddPost {
  width: 25%;
  margin: 10px 0;
  font-size: inherit;
  padding: 25px;
}

.btnVoteScore{
  display: flex;
  margin-right: 20px;
  margin-top: 5px;
}

.btnPost{
  display: flex;
}
.comment {
  padding-top: 20px;
  padding-bottom: 20px;

  border-bottom: 1px solid #ccc;
}

.headerComment {
  display: flex;
  justify-content: space-between;
}

.headerDateComment {

}

.btnVoteScoreComment {
  display: flex;
}


.headerDeleteComment {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  text-decoration: underline
}

.modal {
  position: fixed;
  left: 20%;
  top: 40%;
  width: 60%;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,.24), 0 3px 12px 0 rgba(0,0,0,.12);
  min-width: 500px;
}

.editComment {
  justify-content: space-around;
}

.editComment label, input, textarea{
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: inherit;
}

.noUnderline {
  text-decoration:none;
}
